{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>{{ title }}</h1>
        {% for invoice in invoices %}
        <div class="list-group-item">
            <h5 class="mb-1">{{ invoice }}<h5>
        </div>
        {% endfor %}

        <a href="{% url 'invoice:new' %}" class="btn btn-primary m-1">Neue Rechnung</a>
        <a href="{% url 'homepage:index' %}" class="btn btn-primary m-1">Zurück</a>
    </div>
{% endblock %}
